.DS_Store
.env
.env.*
*.log

backend/target
backend/target-cross
backend/target-docker
backend/target-docker-amd64
device-agent/target
target

frontend/.next
frontend/node_modules
frontend/.turbo

**/.cache
**/tmp
